<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Recipies</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
  <h1>Recipies</h1>
  <form action="/" method="post" class="add-recipe">
    <div class="input-field">
      <textarea name="title" placeholder="Recipe Title"></textarea>
    </div>
    <div class="input-field">
      <textarea name="description" placeholder="Recipe Description"></textarea>
    </div>
    <div class="input-field">
      <textarea name="instructions" placeholder="Recipe Instructions"></textarea>
    </div>
    <div class="input-field">
      <textarea name="ingredients" placeholder="Recipe Ingredients"></textarea>
    </div>
    <div class="input-field">
      <textarea name="author" placeholder="Author"></textarea>
    </div>
    <div class="input-field">
      <input type="submit" value="Post Recipe" class="btn blue darken-1">
    </div>
  </form>
  {{#if recipies}}
  <ul class="recipe">
    {{#each Recipe}}
    {{title}}
    {{description}}
    {{instructions}}
    {{ingredients}}
    {{author}}
  {{/each}}
  </ul>
{{/if}}
</body>
</html>
