<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Recipies</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
  <nav>
   <div class="nav-wrapper blue darken-1">
     <a href="#" class="brand-logo center">Recipies</a>
  </div>
</nav>
<div class="container">
  <form action="/" method="post" class="add-recipe" class="col 12">
    <div class="input-field">
      <textarea name="recipe[title]" placeholder="Recipe Title"></textarea>
    </div>
      <div class="input-field">
        <textarea name="recipe[description]" placeholder="Recipe Description"></textarea>
      </div>
        <div class="input-field">
          <textarea name="recipe[ingredients]" placeholder="Recipe Ingredients"></textarea>
        </div>
    <div class="input-field">
      <textarea name="recipe[instructions]" placeholder="Recipe Instructions"></textarea>
    </div>
    <div class="input-field">
      <textarea name="recipe[author]" placeholder="Recipe Author"></textarea>
    </div>
    <div class="input-field">
      <input type="submit" value="Post Recipe" class="btn blue darken-1 center">
    </div>
  </form>
  {{#if recipies}}
  <ul class="recipe">
    {{#each Recipe}}
    {{title}}
    {{description}}
    {{instructions}}
    {{ingredients}}
    {{author}}
  {{/each}}
  </ul>
{{/if}}
</div>
</body>
</html>
